{% set shortRoleTranslationKey = 'home.equipo.roles.short.' ~ contact.role %}
{% set longRoleTranslationKey = 'home.equipo.roles.long.' ~ contact.role %}
{% set bioTranslationKey = 'home.equipo.' ~ contact.slug %}

{% if loop.first or 1 == loop.index % 4 %}
<div class="row">
  {% endif %}

  <div class="span3 miembro{% if 'advisor' == contact.type %} asesor{% endif %}" id="miembro-{{ contact.slug }}" data-placement="{% if 1 == loop.index % 4 or 2 == loop.index % 4 %}right{% else %}left{% endif %}">
    <div class="pie-de-foto">
      <h2 class="nombre">{{ contact.name }}</h2>
      {% if 'member' == contact.type %}
      <span class="cargo">{{ shortRoleTranslationKey | trans }}</span>
      {% endif %}
    </div>
  </div>

  <div class="hide" id="popover-miembro-{{ contact.slug }}">
    <h3 class="nombre">{{ contact.nameLong }}</h3>
    {% if 'member' == contact.type %}
    <span class="cargo">{{ longRoleTranslationKey | trans }}</span>
    {% endif %}

    <p class="bio">{{ bioTranslationKey | trans | raw }}</p>
    {% for link in contact.links %}
    <a class="link {{ link.type }}" href="{{ link.url }}" target="_blank">&nbsp;</a>
    {% endfor %}
  </div>

  {% if loop.last or 0 == loop.index % 4  %}
</div>
{% endif %}