#blog {
  margin-top: 70px;
  @include opensans-light;
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    background-color: $verde;
    color: $blanco;
    padding: 10px 0 10px 35px;
  }
  .post.short {
    .title {
      text-transform: uppercase;
      @include oswald-light;
      font-size: 30px;
      background-color: transparent;
      border-bottom-color: $verde;
      border-bottom-width: 10px;
      border-bottom-style: solid;
      color: $azul;
      padding: 10px 0 0px 0px;
    }
    margin-bottom: 30px;
  }
  .post.long {
    .meta {
      margin-bottom: 20px;
    }
  }
}

#karmacracy {
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    border-bottom-color: $verde;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    color: $azul;
    padding: 10px 0 0px 0px;
  }
}

#comments {
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    border-bottom-color: $verde;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    color: $azul;
    padding: 10px 0 0px 0px;
  }
}