$blanco: #ffffff;
$azul: #229acb;
$azulTransparente: rgba(029, 135, 178, 0.5);
$azulCielo: #6ecdfd;
$naranja: #f3ae48;
$naranjaTransparente: rgba(243, 174, 072, 0.5);
$verde: #68cc99;
$verdeTransparente: rgba(104, 204, 153, 0.5);
$lila: #b65d8b;
$lilaTransparente: rgba(182, 093, 139, 0.5);
$grisSuave: #f9f9f9;
$gris:  #333333;
