.navbar-inverse {
  .navbar-inner {
    @include oswald-light;
    font-size: 19px;
    text-transform: uppercase;
    background-color: $gris;
    @include gradient-vertical($gris, $gris);
    @include box-shadow(rgba(0, 0, 0, 0.4) 0 0 10px);
  }
  .nav .active > a,
  .nav .active > a:hover,
  .nav .active > a:focus {
    background-color: transparent;
    @include box-shadow(rgba(0, 0, 0, 0) 0 0 0);
  }
}

.navbar {
  .nav {
    > li {
      margin: 0 0px;
      > a {
        color: $blanco;
      }
      > a:hover {
        color: $verde;
      }
    }
    > li.active {
      > a {
        color: $naranja;
      }
      > a:hover {
        color: $verde;
      }
    }
  }
  .brand {
    width: 210px;
    height: 60px;
    padding: 0;
    margin: 0;
    background-image: url("/images/voxcivica_logo.png");
    background-color: $blanco;
  }
  .languages {
    > li {
      @include opensans-light;
      font-size: 12px;
      > a {
        padding: 0;
        margin: 0;
      }
    }
    > li.active {
      @include opensans-semibold;
    }
    > li.sepparator {
      margin: 0 3px;
    }
  }
}

.claim {
  margin-top: 60px;
  .cookie {
    display: inline-block;
    background-color: $gris;
    @include oswald-light;
    font-size: 35px;
    line-height: 35px;
    padding: 10px 20px 20px 20px;
    .azul {
      color: $azul;
    }
    .naranja {
      color: $naranja;
    }
    .lila {
      color: $lila;
    }
  }
}