@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600,400);

@mixin oswald-light {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
}

@mixin oswald-regular {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}

@mixin opensans-italic {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
}

@mixin opensans-semibold {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
}

@mixin opensans-light {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
}

@mixin opensans-light-italic {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
}