#acciones {
  .title {
    text-transform: uppercase;
    @include oswald-light;
    font-size: 30px;
    background-color: $verde;
    color: $blanco;
    padding: 10px 0 10px 35px;
  }
  .intro {
    @include oswald-regular;
    font-size: 25px;
    //@include hyphenation;
    line-height: 35px;
    margin: 30px 0 50px;
  }
  .bocadillo {
    height: 187px;
    margin-bottom: 30px;
    //@include hyphenation;
    .number {
      display: block;
      margin: 27px 55px 0 65px;
      @include oswald-regular;
      font-size: 100px;
      line-height: 100px;
    }
    p {
      @include opensans-light;
      font-size: 20px;
      padding-right: 22px;
    }
  }
  .first {
    background-image: url("/images/recuadro_naranja.png");
    p {
      padding-top: 38px;
    }
  }
  .second {
    background-image: url("/images/recuadro_verde.png");
    p {
      padding-top: 38px;
    }
  }
  .third {
    background-image: url("/images/recuadro_azul.png");
    p {
      padding-top: 38px;
    }
  }
  .fourth {
    height: 155px;
    background-image: url("/images/recuadro_rosa.png");
    p {
      padding-top: 48px;
    }
  }
}