#home {
  .hero-unit {
    padding: 50px 60px;
    background-image: url("/images/figura_portada.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: $grisSuave;
    @include border-radius(15px);
    h1 {
      @include oswald-light;
      font-size: 67px;
      text-transform: uppercase;
      line-height: 67px;
      font-weight: 100;
      span {
        display: block;
      }
    }
    .first {
      color: $azul;
    }
    .second {
      color: $naranja;
    }
    .third {
      color: $azul;
      display: inline-block;
      margin-right: 10px;
    }
    .fourth {
      color: $lila;
      display: inline-block;
    }
    .fifth {
      color: $verde;
    }
  }

  .ideas-basicas {
    .galleta {
      background-color: $grisSuave;
      height: 224px;
      @include border-radius(15px);
    }
    h2 {
      @include oswald-light;
      font-size: 37px;
      line-height: 40px;
      text-transform: uppercase;
    }
    p {
      @include opensans-light;
      font-size: 18px;
      line-height: 28px;
      //@include hyphenation;
      margin: 10px 0;
      color: $gris;
    }
    .first {
      h2 {
        color: $naranja;
      }
      img {
        margin: 57px 0 0 49px;
      }
    }
    .second {
      h2 {
        color: $verde;
      }
      img {
        margin: 43px 0 0 53px;
      }
    }
    .third {
      h2 {
        color: $azul;
      }
      img {
        margin: 24px 0 0 77px;
      }
    }
  }

  .pie {
    @include oswald-regular;
    font-size: 20px;
    margin-top: 40px;
    a {
      text-transform: uppercase;
      text-align: center;
      padding: 15px 0 15px 0;
      font-size: 35px;
      line-height: 50px;
      color: $white;
      display: block;
      background-color: $gris;
    }
    a:hover {
      text-decoration: none;
      color: $verde;
    }
    .twitter {
      background-image: url("/images/twitter_logo.png");
      background-position: 205px 17px;
      background-repeat: no-repeat;
      a {
        padding-right: 47px;
      }
    }
  }
  .pie:last-child {
    margin-bottom: 120px;
  }
}

