@import "compass_twitter_bootstrap";
@import "voxcivica/_fonts.scss";
@import "voxcivica/_colors.scss";
@import "voxcivica/_footer.scss";

body {
  padding-bottom: 200px;
  @include opensans-light;
  font-size: 20px;
  line-height: 28px;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: $grisSuave;
  .container {
    padding: 60px 60px;
    background-image: url("/images/figura_portada.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: $grisSuave;
    h1 {
      @include oswald-light;
      font-size: 120px;
      text-transform: uppercase;

      font-weight: 100;
      span {
        display: block;
      }
    }
    span {
      line-height: 120px;
    }
    .first {
      color: $azul;
      display: inline-block;
    }
    .second {
      color: $naranja;
      display: inline-block;
    }
    .third {
      color: $lila;
    }
  }
}

section {
  margin: 30px 0;
}

.title {
  @include oswald-regular;
  font-size: 50px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.span2 {
  @include opensans-semibold;
  font-size: 30px;
  line-height: 30px;
  color: $verde;
  text-transform: uppercase;
}

p {
  margin: 0 0 20px 0;
}

ul {
  margin: 0 0 20px 20px;
}

li {
  margin-bottom: 10px;
  line-height: 28px;
}