{% extends "layout/general.twig" %}

{% block body %}
{% include 'home/sections/_home.twig' %}
{% include 'home/sections/_que_es.twig' %}
{% include 'home/sections/_equipo.twig' %}
{% include 'home/sections/_acciones.twig' %}
{% include 'home/sections/_asociarse.twig' %}
{% include 'home/sections/_contacto.twig' %}
{% include 'home/sections/equipo/_popover.twig' %}
{% endblock %}

{% block js %}
<script src="/scripts/Popovers.js"></script>
<script src="/scripts/Scrolls.js"></script>
<script src="/scripts/FormularioContacto.js"></script>

<script>
  var contactForm;
  $(function () {
    new voxcivica.Popovers('.miembro', $('.popover')).init();
    new voxcivica.Scrolls().init();
    contactForm = new voxcivica.FormularioContacto('#contacto').init();
  });
</script>
{% endblock %}
