<article class="container post short">
    <div class="row">
        <div class="span12 meta">
            <h1 class="title"><a href="{{ path('blog_post', { lang: lang, slug: post.slug }) }}">{{ post.title }}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="span3">{% include 'blog/_post_meta.twig' %}</div>
        <div class="span9">{{ post.excerpt | raw }}</div>
    </div>
</article>