<article id="post" class="container post long">
    <div class="row">
        <div class="span12">
            <h1 class="title">{{ post.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <section class="meta">
                {% include 'blog/_post_meta.twig' %}
            </section>
            <section class="content">{{ post.content | raw }}</section>
        </div>
    </div>
</article>