{% extends "layout/general.twig" %}

{% block body %}
<section id="blog">
  {% for post in posts %}
  {% include 'blog/_post_short.twig' with {'post': post} %}
  {% endfor %}
</section>
{% endblock %}
