{% extends "layout/general.twig" %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <section id="blog">
        {% include 'blog/_post_long.twig' %}
    </section>

    <section id="karmacracy" class="container">
        <div class="row">
            <div class="span12">
                <h2 class="title">Social</h2>

                <div class="kcy_karmacracy_widget_h_ID"></div>
            </div>
        </div>
    </section>

    <section id="comments" class="container">
        <div class="row">
            <div class="span12">
                <h2 class="title">Comentarios</h2>

                <div id="disqus_thread"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script defer="defer" src="http://rodney.karmacracy.com/widget-1.3/?id=ID&type=h&width=940&sc=0&rb=0&c1=f2f2f2&c2=ffffff&c3=f2f2f2&c4=353535&c5=067dba&c6=ffffff&c7=353535&c8=undefined&c9=353535"></script>
    <script>
        var disqus_shortname, disqus_developer, disqus_config;

        disqus_shortname = 'voxcivica';
        disqus_developer = 1;
        disqus_config = function () {
            this.language = "{{ lang | disqus_lang }}";
        };

        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

    <noscript>
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
