<section id="acciones">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'home.acciones.title' | trans }}</h1>

        <p class="intro">{{ 'home.acciones.intro' | trans }}</p>

        <div class="bocadillo first">
          <span class="number pull-left">01</span>

          <p>{{ 'home.acciones.first' | trans }}</p>
        </div>
        <div class="clear"></div>

        <div class="bocadillo second">
          <span class="number pull-left">02</span>

          <p>{{ 'home.acciones.second' | trans }}</p>
        </div>
        <div class="bocadillo third">
          <span class="number pull-left">03</span>

          <p>{{ 'home.acciones.third' | trans }}</p>
        </div>
        <div class="bocadillo fourth">
          <span class="number pull-left">04</span>

          <p>{{ 'home.acciones.fourth' | trans }}</p>
        </div>
      </div>
    </div>
  </div>
</section>