<section id="asociarse-y-o-donar">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'home.asociarse.title' | trans }}</h1>

        <p class="intro">{{ 'home.asociarse.intro' | trans | raw }}</p>

        <h2 class="first">{{ 'home.asociarse.header' | trans }}</h2>

        <div>{{ 'home.asociarse.text-block' | trans | raw }}</div>
      </div>
    </div>
  </div>
</section>