<section id="contacto">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'home.contacto.title' | trans }}</h1>

        <form action="{{ path('send-contact-email') }}" method="post">
          <div class="control-group">
            <label class="control-label" for="contacto_nombre">{{ 'home.contacto.name' | trans }}</label>

            <div class="controls">
              <input class="span5" type="text" id="contacto_nombre" name="nombre" placeholder="{{ 'home.contacto.placeholders.name' | trans }}"/>
              <span class="help-inline error" style="display: none;">{{ 'home.contacto.errors.name' | trans }}</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="contacto_email">{{ 'home.contacto.email' | trans }}</label>

            <div class="controls">
              <input class="span5" type="email" id="contacto_email" name="email" placeholder="{{ 'home.contacto.placeholders.email' | trans }}"/>
              <span class="help-inline error" style="display: none;">{{ 'home.contacto.errors.email' | trans }}</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="contacto_mensaje">{{ 'home.contacto.message' | trans }}</label>

            <div class="controls">
              <textarea class="span12" id="contacto_mensaje" name="mensaje" placeholder="{{ 'home.contacto.placeholders.message' | trans }}"></textarea>
              <span class="help-inline error" style="display: none;">{{ 'home.contacto.errors.message' | trans }}</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label tos" for="contacto_tos">
              <div class="controls">
                <input type="checkbox" id="contacto_tos" name="tos" value="1"/>
                <span>{{ 'home.contacto.tos' | trans({ '%privacy_url%': path('privacy', { lang: lang }) }) | raw}}</span>
                <span class="help-inline error" style="display: none;">{{ 'home.contacto.errors.tos' | trans }}</span>
              </div>
            </label>
          </div>

          <div class="controls">
            <button type="submit" class="span4 offset4">{{ 'home.contacto.send' | trans }}</button>
          </div>
        </form>
      </div>
    </div>

    <div class="resultado exito" style="display: none;">
      <div class="row">
        <div class="span6 offset3">
          <p>{{ 'home.contacto.success' | trans | raw }}</p>
        </div>
      </div>
    </div>

    <div class="resultado fracaso" style="display: none;">
      <div class="row">
        <div class="span6 offset3">{{ 'home.contacto.failure' | trans | raw }}</div>
      </div>
    </div>
  </div>
</section>
