<section id="equipo">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'home.equipo.title' | trans }}</h1>
        <p class="intro">{{ 'home.equipo.intro' | trans | raw }}</p>
      </div>
    </div>

    {% for member in members %}
    {% include 'home/sections/equipo/_contact.twig' with { contact: member } %}
    {% endfor %}

    <div class="row">
      <div class="span12">
        <h1>{{ 'home.equipo.advisory-team' | trans }}</h1>
      </div>
    </div>

    {% for advisor in advisors %}
    {% include 'home/sections/equipo/_contact.twig' with { contact: advisor } %}
    {% endfor %}
  </div>
</section>