<section id="home">
  <div class="container">
    <div class="row">
      <div class="span12 tagline">"<span>{{ 'home.home.quote' | trans }}</span>"
        <span class="author">Jonas Salk</span></div>
    </div>
  </div>

  <div class="container">
    <div class="hero-unit">
      <h1>{{ 'home.home.title' | trans | raw }}</h1>
    </div>

    <div class="row ideas-basicas">
      <a href="#que-es-ciudadania-activa">
        <div class="span4 first">
          <h2>{{ 'home.home.first-header' | trans | raw }}</h2>

          <div class="galleta">
            <img src="/images/figura_naranja.png"/>
          </div>
          <p>{{ 'home.home.first-p' | trans | raw }}</p>
        </div>
      </a>

      <a href="#que-es-tecnologia-que-empodera">
        <div class="span4 second">
          <h2>{{ 'home.home.second-header' | trans | raw }}</h2>

          <div class="galleta">
            <img src="/images/figura_verde.png"/>
          </div>
          <p>{{ 'home.home.second-p' | trans | raw }}</p>
        </div>
      </a>
      <a href="#que-es-espiritu-civico">
        <div class="span4 third">
          <h2>{{ 'home.home.third-header' | trans | raw }}</h2>

          <div class="galleta">
            <img src="/images/figura_azul.png"/>
          </div>
          <p>{{ 'home.home.third-p' | trans | raw }}</p>
        </div>
      </a>
    </div>
    <div class="row pie">
      <div class="span6">{{ 'home.home.newsletter.intro' | trans }}</div>
      <div class="span6">{{ 'home.home.suggest-actions.intro' | trans }}</div>
    </div>
    <div class="row pie">
      <div class="span6">
        <a href="http://eepurl.com/qz-gD" target="_blank">{{ 'home.home.newsletter.link' | trans }}</a>
      </div>
      <div class="span6">
        <a href="#contacto" data-body="{{ 'home.home.suggest-actions.message-body' | trans }}">{{ 'home.home.suggest-actions.link' | trans }}</a>
      </div>
    </div>
  </div>
</section>