<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'home.que.title' | trans }}</h1>

        <p class="intro">{{ 'home.que.intro' | trans | raw }}</p>

        <h2 class="first" id="que-es-ciudadania-activa">{{ 'home.que.first-header' | trans }}</h2>

        <div>{{ 'home.que.first-p-block' | trans | raw }}</div>

        <h2 class="second" id="que-es-tecnologia-que-empodera">{{ 'home.que.second-header' | trans | raw }}</h2>

        <div>{{ 'home.que.second-p-block' | trans | raw }}</div>

        <h2 class="third" id="que-es-espiritu-civico">{{ 'home.que.third-header' | trans | raw }}</h2>

        <div>{{ 'home.que.third-p-block' | trans | raw }}</div>
      </div>
    </div>
  </div>
</section>