{% extends "layout/bitforchange.twig" %}

{% block body %}

<header class="jumbotron subhead" id="overview" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h1>
      <span class="first">BIT</span>&nbsp;<span class="second">for</span>&nbsp;<span class="third">change</span>
    </h1>

  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">¿Preparados? ¿Listos? ¡BIT for change!</h1>

        <p>¿Crees que es necesaria una ciudadanía activa? ¿Quieres contribuir a la identificación de retos cívicos en
          distintas ciudades? ¿Aspiras a empoderarte y empoderar a otros en pos del bien común? ¿Quieres encontrar
          soluciones a esos retos junto con personas tan motivadas y capaces como tú?</p>

        <p><a href="{{ path('home', { 'lang': 'es' }) }}" target="_blank">VoxCivica</a>, iniciativa ciudadana por un
          futuro cívico, impulsa la primera edición de BIT for Change.</p>
      </div>
    </div>
  </div>
</section>

<section id="que">
  <div class="container">
    <div class="row">
      <div class="span2">Qué</div>
      <div class="span10">
        <p>BIT for Change es un proyecto de emprendimiento que tiene como objetivo la identificación de <strong>retos
          cívicos</strong> en distintas ciudades, y la construcción de una solución a esos retos utilizando <strong>el
          poder de la tecnología y las redes</strong>. BIT for Change pretende conseguir impacto en los siguientes
          ámbitos:</p>
        <ul>
          <li>Facilitación del acceso a conocimiento crítico.</li>
          <li>Fomento de la transparencia en la gobernanza y el derecho a saber de los ciudadanos.</li>
          <li>Fomento de comportamientos cívicos que construyen confianza colectiva (cooperación, corresponsabilidad,
            autocrítica, compromiso, esfuerzo colectivo).
          </li>
          <li>Impulso de canales de microfinanciación colectiva.</li>
          <li>Fomento de comportamientos emprendedores.</li>
          <li>Creación de plataformas ciudadanas de colaboración abierta distribuida que impulsen la acción colectiva.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="para-que">
  <div class="container">
    <div class="row">
      <div class="span2">Para qué</div>
      <div class="span10">
        <p>Para empoderar a grupos de ciudadanos/as para trabajar por el <strong>bien común</strong>, e identificar a
          <strong>emprendedores/as cívicos/as</strong> con capacidad de aportar valor en la construcción de <strong>confianza
            colectiva</strong>.</p>
      </div>
    </div>
  </div>
</section>

<section id="como">
  <div class="container">
    <div class="row">
      <div class="span2">Cómo</div>
      <div class="span10">
        <ul>
          <li>Seleccionando personas altamente motivadas por cambiar las cosas.</li>
          <li>Empoderándoles mediante un programa de capacitación sobre gestión, pensamiento, y tecnología para el
            cambio, impartido por un amplio panel de expertos/as de cada uno de los ámbitos.
          </li>
          <li>Construyendo equipos de emprendedores/as cívicos/as que serán asignados a distintas ciudades para trabajar
            junto a grupos de la sociedad civil en la identificación de un reto cívico prioritario para cada ciudad.
          </li>
          <li>Desarrollando una solución para cada reto.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="quien">
  <div class="container">
    <div class="row">
      <div class="span2">Quién</div>
      <div class="span10">
        <p>BIT for Change selecciona participantes de los siguientes perfiles:</p>
        <ul>
          <li>Perfil periodista: para aportar espíritu crítico y visión de conjunto</li>
          <li>Perfil marketing: para garantizar capacidad de investigación y análisis</li>
          <li>Perfil dinamizador/a de grupos: para facilitar el trabajo conjunto con los grupos ciudadanos de las
            ciudades participantes
          </li>
          <li>Perfil programador/a: para aportar la mejor tecnología web</li>
          <li>Perfil diseño y usabilidad web: para trasladar a las soluciones los diseños más usables</li>
          <li>Perfil gestión: para diseñar el modelo de sostenibilidad de las soluciones</li>
        </ul>
        <p>¿Tienes uno de estos perfiles y quieres participar? <a href="#form">Envíanos este formulario</a>.</p>
      </div>
    </div>
  </div>
</section>

<section id="cuando-donde">
  <div class="container">
    <div class="row">
      <div class="span2">Cuándo y dónde</div>
      <div class="span10">
        <p>El proyecto arranca en el mes de abril y culmina en el mes de julio. El centro de operaciones de BIT for Change está en Donostia/San Sebastián, y el trabajo de campo se desarrollará en varias ciudades.</p>
      </div>
    </div>
  </div>
</section>

<section id="que-se-necesita">
  <div class="container">
    <div class="row">
      <div class="span2">Qué se necesita</div>
      <div class="span10">
        <p>Lo más valioso que tienes, tu tiempo, y <strong>ganas de cambiar las cosas</strong>.</p>
      </div>
    </div>
  </div>
</section>

<section id="y-tu">
  <div class="container">
    <div class="row">
      <div class="span2">¿Y tú?</div>
      <div class="span10">
        <p>Tanto si trabajas, como si eres universitario/a, o estás en desempleo… BIT for Change proporciona respuesta a
          esa pregunta que te has estado planteando: ¿y yo qué puedo hacer para mejorar las cosas?</p>

        <p>Recibirás formación de primer nivel sobre aspectos que te harán crecer como persona, conocerás y trabajarás
          junto a personas motivadas como tú, y tendrás la oportunidad de aportar lo mejor de ti en pos del bien
          común.</p>

        <p>¿Vienes?</p>
      </div>
    </div>
  </div>
</section>

<section id="form">
  <div class="container">
    <div class="row">
      <div class="offset2 span10">
        <form action="https://docs.google.com/a/voxcivica.org/spreadsheet/formResponse?formkey=dE5JN29ULVdONGZyWl81WG1NU00xUnc6MQ&amp;ifq" method="POST" id="ss-form">
          <input type="hidden" name="pageNumber" value="0">
          <input type="hidden" name="backupCache" value="">
          <fieldset>
            <legend>Quiero información sobre BIT for change:</legend>

            <label for="entry_0">Nombre *</label>
            <input class="input-xxlarge" name="entry.0.single" id="entry_0" type="text" placeholder="Tu nombre"/>

            <label for="entry_2">Apellidos *</label>
            <input class="input-xxlarge" name="entry.2.single" id="entry_2" type="text" placeholder="Tus apellidos"/>

            <label for="entry_3">Correo electrónico de contacto *</label>
            <input class="input-xxlarge" type="text" name="entry.3.single" id="entry_3" placeholder="juan.perez@gmail.com"/>

            <label for="entry_4">Teléfono de contacto *</label>
            <input class="input-xxlarge" type="text" name="entry.4.single" id="entry_4" placeholder="+34 612 345 678"/>

            <label for="entry_7">Días y horas en los que prefieres que te llamemos</label>
            <input class="input-xxlarge" type="text" name="entry.7.single" id="entry_7" placeholder="Entre semana, horario de oficina"/>

            <label for="entry_5">Año de nacimiento *</label>
            <input class="input-xxlarge" type="text" name="entry.5.single" id="entry_5" placeholder="1994"/>

            <label for="entry_6">Ciudad de residencia *</label>
            <input class="input-xxlarge" type="text" name="entry.6.single" id="entry_6" placeholder="Donostia"/>

            <label for="entry_8">Formación/especialidad *</label>
            <input class="input-xxlarge" type="text" name="entry.8.single" id="entry_8" placeholder="Periodismo">

            <label for="entry_9">¿Por qué quieres participar en BIT for change?</label>
            <textarea class="input-xxlarge" rows="3" name="entry.9.single" id="entry_9"></textarea>

          </fieldset>
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Enviar" name="submit"/></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
