{% extends "layout/general.twig" %}

{% block body %}

<section id="credits">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">{{ 'credits.title' | trans }}</h1>

        <p><strong>{{ 'credits.intro' | trans }}</strong></p>

        <p><span>{{ 'credits.design.web' | trans }}</span>:
          <a href="http://www.breakingmolds.com" target="_blank" title="Breaking Molds"><img src="/images/logo_breaking_web.png" alt="Breaking Molds"/></a>
        </p>

        <p><span>{{ 'credits.translations.en' | trans }}</span>:
          <a href="mailto:ddraper@arrakis.es">Diana Draper</a>, <a href="tel:+34635728585">(+34) 635728585</a></p>

        <p><span>{{ 'credits.translations.eu' | trans }}</span>:
          <a href="mailto:oihana@komplementa.com">Oihana Prado</a>, <a href="tel:+34653018173">(+34) 653018173</a></p>

        <p><span>{{ 'credits.tech' | trans }}</span>:
          <a href="http://programania.es" target="_blank">Asociación</a>
          <a href="http://programania.net" target="_blank">Programania</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}{% endblock %}
