{% extends "layout/general.twig" %}

{% block body %}

<section id="legal">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>La Asociación VoxCivica (en adelante VoxCívica) cumple con los requisitos establecidos en la Ley 34/2002, de
          11 de Julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, en la Ley 56/2007, de 28 de
          diciembre de Medidas de Impulso de la Sociedad de la Información, así como en la Ley Orgánica 15/1999, de 13
          de diciembre, sobre Protección de Datos de Carácter Personal y su normativa de desarrollo (RD 1720/2007, de 21
          de diciembre, por el que se aprueba el Reglamento de Desarrollo de la Ley Orgánica 15/1999 de Protección de
          Datos de Carácter Personal) a tal fin ha creado el siguiente Aviso Legal:</p>

        <p class="center">Asociación VoxCívica<br/>
          Paseo de Colón 6 Entreplanta Derecha 20002 – San Sebastián - Donostia (Gipuzkoa)<br/>
          <a href="mailto:hola@voxcivica.org">hola@voxcivica.org</a><br/>
          G75071480</p>

        <p>El presente Aviso Legal regula el acceso y la utilización de la web, incluyendo los contenidos y los
          servicios puestos a disposición de los Usuarios a través de la web, bien por VoxCívica, bien por sus Usuarios,
          bien por cualesquiera terceros.</p>

        <p>El uso de la web se sujetará al presente Aviso Legal, el cuál podrá ser actualizado periódicamente, no
          obstante VoxCívica avisará de la modificación del Aviso Legal o de la Política de Privacidad. Si el Usuario
          decide no aceptar el Aviso Legal deberá abstenerse de acceder y/o utilizar los contenidos y/o servicios
          ofrecidos en la web.</p>


        <p>VoxCívica se reserva el derecho de mejorar, modificar o suprimir, unilateralmente y sin previo aviso,
          servicios y/o contenidos de dicha web atendiendo a los más diversos criterios, si bien informará de los mismos
          a los usuarios.</p>

        <p>Obligación de hacer un uso correcto del portal: El Usuario se compromete a hacer un uso adecuado de la web y
          a no emplearla para incurrir en actividades ilícitas o contrarias a la buena fe y al ordenamiento legal (a
          título meramente indicativo y no exhaustivo); provocar daños en los sistemas físicos y lógicos del
          responsable, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o
          cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente
          mencionados, sin olvidar todos aquellos que vulneren o transgredan el honor, la intimidad personal o familiar
          y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un
          tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción,
          obtención o acceso a los contenidos o la imagen de terceros; la realización de actos de competencia desleal y
          publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición,
          recepción, obtención o acceso a los contenidos; la falta de veracidad, exactitud, exhaustividad, pertinencia
          y/o actualidad de los contenidos dejando el Usuario, en todo caso, indemne a VoxCívica frente a cualquier
          reclamación, judicial o extrajudicial.</p>

        <p><strong>PROPIEDAD INTELECTUAL E INDUSTRIAL</strong></p>

        <p>El contenido, así como la información objeto de propiedad intelectual cuya titularidad corresponda a
          VoxCivica puesta a disposición (salvo que no se especifique expresamente otra cosa en alguno de los apartados
          del portal) estará sujeta a la licencia Creative Commons que aparece en la página principal del portal.</p>

        <p>En cuanto a los derechos de propiedad industrial que pudieran corresponder a dichos contenidos, así como
          todas las marcas, nombres comerciales o cualquier otro signo distintivo son propiedad de VoxCivica o de sus
          legítimos propietarios, quedando reservados todos los derechos sobre los mismos.</p>

        <p>VoxCívica no será responsable de cualquier perjuicio que pudiera derivarse de la utilización de los
          contenidos, servicios e información incluida en este sitio web por parte de los usuarios, o de la infracción
          por parte de éstos de cualquier disposición legal vigente.</p>

        <p><strong>COOKIES Y ENLACES</strong></p>

        <p>VoxCívica informa al Usuario que la plataforma utiliza cookies, considerándose tales ficheros de información
          alojados en el propio terminal del Usuario y que sirven para facilitar la navegación del Usuario por el portal
          (ej: no solicitar nuevamente Usuario y/o contraseña). En ningún caso las cookies recogerán ni realizarán
          ningún tipo de tratamiento de datos de carácter personal. De todas formas, el Usuario tiene la posibilidad de
          configurar el navegador de tal modo que impida la instalación de estos archivos.</p>

        <p>VoxCívica no asume ninguna responsabilidad sobre los enlaces externos que, en su caso, pudieran incluirse en
          el portal, ya que no tiene ningún tipo de control sobre los mismos, por lo que el Usuario accede bajo su
          exclusiva responsabilidad al contenido y en las condiciones de uso que rijan en los mismos.</p>

        <p><strong>POLITICA DE PRIVACIDAD</strong></p>

        <p>VoxCívica protege los datos personales según lo establecido en la Ley Orgánica de Protección de Datos y el
          Reglamento de Medidas de Seguridad. La información sobre la protección de datos personales se encuentra
          recogida en la Política de Privacidad.</p>

        <p>A tal fin ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no
          autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el
          Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>

        <p>En el caso de que se incluyan en la plataforma datos de carácter personal referentes a personas físicas
          distintas deberá, con carácter previo a su inclusión informarles de los extremos contenidos en la Política de
          Privacidad.</p>

        <p><strong>DURACIÓN Y TERMINACIÓN</strong></p>

        <p>La web tiene, en principio, una duración indefinida. VoxCívica, no obstante, está autorizada para dar por
          terminada o suspender la web en cualquier momento. Cuando ello sea razonablemente posible, VoxCívica advertirá
          previamente sobre la terminación o suspensión de la Plataforma.</p>

        <p><strong>JURISDICCIÓN Y LEGISLACIÓN APLICABLE</strong></p>

        <p>Las presentes Condiciones se regirán por la legislación española. En caso de cualquier discrepancia las
          partes se someten a la jurisdicción de los Juzgados y Tribunales de Donostia – San Sebastián con expresa
          renuncia a cualquier otro fuero que pudiera corresponderles, salvo que por imperativo legal corresponda otro
          distinto.</p>

      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}{% endblock %}
