{% extends "layout/general.twig" %}

{% block body %}

<section id="legal">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p><strong>POLITICA DE PRIVACIDAD</strong></p>

        <p>En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal,
          le informamos que los datos personales que nos suministre serán tratados de forma confidencial y pasarán a
          formar parte de un fichero titularidad de la asociación VoxCívica Sus datos de carácter personal serán
          utilizados para remitirle información que nos haya podido solicitar.</p>

        <p>Le informamos que puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición en: Paseo de
          Colón 6 Entreplanta Derecha, 20002. Donostia – San Sebastián.</p>

        <p>El Usuario garantiza que los datos personales facilitados son veraces y se hace responsable de comunicar
          cualquier modificación en los mismos. El Usuario será el único responsable de cualquier daño o perjuicio,
          directo o indirecto, que pudiera ocasionar al responsable del portal o a cualquier tercero a causa de la
          cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados.</p>

        <p>VoxCívica ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no
          autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el
          usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.</p>

        <p>Esta página web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc., una
          compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA
          94043, Estados Unidos ("Google"). Google Analytics utiliza "cookies", que son archivos de texto ubicados en su
          ordenador, para ayudar al website a analizar el uso que hacen los usuarios del sitio web. La información que
          genera la cookie acerca de su uso del website (incluyendo su dirección IP) será directamente transmitida y
          archivada por Google en los servidores de Estados Unidos. Google usará esta información por cuenta nuestra con
          el propósito de seguir la pista de su uso del website, recopilando informes de la actividad del website y
          prestando otros servicios relacionados con la actividad del website y el uso de Internet. Google podrá
          transmitir dicha información a terceros cuando así se lo requiera la legislación, o cuando dichos terceros
          procesen la información por cuenta de Google. Google no asociará su dirección IP con ningún otro dato del que
          disponga Google. Puede Usted rechazar el tratamiento de los datos o la información rechazando el uso de
          cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe Usted saber que
          si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website
          Usted consiente el tratamiento de información acerca de Usted por Google en la forma y para los fines arriba
          indicados.</p>

      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block js %}{% endblock %}
