<footer>
  <div class="container">
    <div class="row">
      <div class="span12">
        <a href="{{ path('legal', {lang: lang}) }}" data-i18n="footer:legal">{{ 'footer.legal' | trans }}</a> -
        <a href="{{ path('privacy', {lang: lang}) }}" data-i18n="footer:privacy">{{ 'footer.privacy' | trans }}</a> -
        <a href="{{ path('credits', {lang: lang}) }}" data-i18n="credits:title">{{ 'footer.credits' | trans }}</a>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">La página web de Voxcivica</span>
        por <a xmlns:cc="http://creativecommons.org/ns#" href="http://voxcivica.org" property="cc:attributionName" rel="cc:attributionURL">Asociación Voxcivica</a>
        se encuentra bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_CO">Licencia Creative Commons Atribución-CompartirIgual 3.0 Unported</a>.
        Basada en una obra en <a xmlns:dct="http://purl.org/dc/terms/" href="https://bitbucket.org/voxcivica/voxcivica2.0" rel="dct:source">https://bitbucket.org/voxcivica/voxcivica2.0</a>.
        <br/>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.es_CO">
          <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/>
        </a>
      </div>
    </div>
  </div>
</footer>