<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{ path('home', { lang: lang }) }}" title="Vox Civica">&nbsp;</a>
      <ul class="nav pull-right languages">
        <li class="{% if 'es' == lang %}active{% endif %}"><a href="/es{{current_path}}" title="En español">es</a></li>
        <li class="sepparator">/</li>
        <li class="{% if 'eu' == lang %}active{% endif %}"><a href="/eu{{current_path}}" title="Euskeraz">eu</a></li>
        <li class="sepparator">/</li>
        <li class="{% if 'en' == lang %}active{% endif %}"><a href="/en{{current_path}}" title="In English">en</a></li>
      </ul>
      <div class="menu">
        <ul class="nav pull-right">
          <li><a href="{{ path('home', { lang: lang }) }}#que-es">{{ 'navbar.que' | trans }}</a></li>
          <li><a href="{{ path('home', { lang: lang }) }}#equipo">{{ 'navbar.equipo' | trans }}</a></li>
          <li><a href="{{ path('home', { lang: lang }) }}#acciones">{{ 'navbar.acciones' | trans }}</a></li>
          <li><a href="{{ path('home', { lang: lang }) }}#asociarse-y-o-donar">{{ 'navbar.asociarse' | trans }}</a></li>
          <li><a href="{{ path('home', { lang: lang }) }}#contacto" data-body="">{{ 'navbar.contacto' | trans }}</a>
          <li><a href="{{ path('blog', { lang: lang }) }}">{{ 'navbar.blog' | trans }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container claim navbar-fixed-top">
  <div class="row">
    <div class="span6 offset6">
      <a href="{{ path('bitforchange', { lang: lang }) }}" class="cookie pull-right">
        <span class="azul">BIT</span>
        <span class="naranja">For</span>
        <span class="lila">Change</span>
      </a>
    </div>
  </div>
</div>

