<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Bit For Change - VoxCivica{% endblock %}</title>
  <meta name="viewport" content="width=1000">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-itouch-icon" href="/favicon.png">

  <link rel="stylesheet" href="/styles/bitforchange.css">
  <script src="/scripts/vendor/modernizr.min.js"></script>
</head>

<body data-spy="scroll" data-target=".menu" data-offset="120">

{% block body %}{% endblock %}

{% include 'layout/_footer.twig' %}

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser.
  <a href="http://browsehappy.com/">Upgrade your browser today</a>
  or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
  to better experience this site.</p>
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/scripts/vendor/jquery.min.js"><\/script>')</script>

<script>
  var _gaq = [
    ['_setAccount', 'UA-35668791-1'],
    ['_setDomainName', 'voxcivica.org'],
    ['_trackPageview']
  ];
  (function (d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
  }(document, 'script'));
</script>

{% block js %}{% endblock %}

</body>
</html>